html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, section, svg, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
// vertical-align: baseline;
//background: transparent;
}

@font-face {
    font-family: Play;
    src: url('../fonts/Play-Bold.ttf');
    src: url('../fonts/Play-Regular.ttf');
}

@font-face {
    font-family: Overlock;
    src: url('../fonts/Overlock-fonts/Overlock-Regular.ttf');
}

@font-face {
    font-family: Belida;
    src: url('../fonts/Belinda W00 Regular.ttf');
}

body {
    overflow-x: auto;
    overflow-y: scroll;
}

/*div {*/
/*display: block;*/
/*}*/

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.SITE_ROOT {
    width:990px;
    padding-top: 50px;
    margin: 0 auto;
//border: 1px dashed red;
}

#header-text-decoration {
    width:990px;
    height: 150px;
//border: 1px dashed red;
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    height: 150px;
}

.logo > img {
    width: 185px;
    height: 150px;
    margin-right: 10px;
//border: 1px dashed red;
    float: left;
}

#zavyrtulka {
    width: 150px;
    right:-30px;
    position: relative;
    margin-top: 5px;
}

.font_0 {
    font-size:35px;
    line-height:1.2em;
    font-weight: normal;
    color:#12C784;
    font-family:Play,sans-serif;
}

.logo > .style-ixko6sof {
    left: 10px;
    width: 119px;
}

.text-befor-decoration, .text-after-decoration {
    float: left;
}

#text-decoration  {
    float: left;
    position: relative;
    right: 18px;
    bottom: 10px;
    height: 200px;
}

.text-after-decoration {
    margin-top: 55px;
    position: relative;
    right: 45px;
//border: 1px dashed red;
}

.navigation {
    float: right;
//border: 1px dashed red;
    width: 780px;
    height: 20px;
    margin: 0;
    padding: 0;
}

ul > li {
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color:#12C784;
}

.parent-navigation > li {
    padding: 2px;
    width: 65px;
    font-size: 17px;
    font-family: Overlock,sans-serif;
    font-weight: 600;
    margin-right: 20px;
    color:#12C784;
//border: 1px dashed blue;
    text-align: right;
}

.parent-navigation > li:first-of-type {
    margin-left: 251px;
}

.parent-navigation > li:last-of-type {
    margin-right: 0;
}

/*.parent-navigation > li:nth-child(6) {*/
    /*border-top: 1px solid #0C9965;*/
    /*border-bottom: 1px solid #0C9965;*/
    /*cursor: pointer;*/
/*}*/

/*.parent-navigation  li:nth-child(6) > a {*/
    /*color: #0C9965;*/
/*}*/

.social {
    float: right;
    margin: 165px 250px 0 0;
//border: 1px dashed pink;
    width: 70px;
    height: 70px;
}

.social a > img {
    width: 60px;
    height: 60px;
}

.parent-navigation > li:hover {
    border-top: 1px solid #0C9965;
    border-bottom: 1px solid #0C9965;
    color: #0C9965;
    cursor: pointer;
}

ul.drop-down {
    display: none;
    -webkit-padding-start: 0;
//border: 1px dashed pink;
}

.drop-down li {
    text-align: right;
    font-family: Overlock,sans-serif;
    color: #12C784;
    margin-bottom: 10px;
    margin-right: 120px;
//border: 1px dashed pink;
}

.drop-down li > a:hover {
    color: #0C9965;
    cursor: pointer;
}

.drop-down li:first-child {
    margin-top: 20px;
}

ul.parent-navigation li:hover ul {
    position: absolute;
    display: block;
}

ul.parent-navigation li:hover ul li {
    display: block;
    border-radius: 0;
    position: relative;
    right: 100px;
}

ul.parent-navigation li:hover ul#portfolio-drop-down li{
    margin-left: 30px;
}

.first-line-right-img {
    float: left;
    margin-left: 90px;
}

.first-line-right-img > img {
    width: 570px;
}

#body-content {
    width: 980px;
    //margin: 0 auto;
    margin: 200px 0 0 150px;
    border: 1px dashed gray;
    float: left;
}

#link-left-img > img,
#link-right-img > img{
    width: 467px;
    height: 367px;
    float: left;
}

/*======================================*/
/*========================================*/
/*=====================================*/


/* Desktop Layout: 769px to a max of 1232px.
 Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
    .SITE_ROOT {
        width: 86.2%;
        max-width: 1232px;
        margin: auto;
    }

    #header-text-decoration {
        clear: both;
        float: left;
        margin: 0 auto;
        width: 100%;
        display: block;
    }

    .navigation {
        clear: both;
        margin:  0;
    //float: left;
    //border: 1px dashed pink;
    }

    .social {
        float: left;
        margin: 30px auto 0 0;
    //border: 1px dashed pink;
        width: 60px;
        height: 60px;
    }

    .social a > img {
        width: auto;
        height: auto;
    }

    .logo {
        float: left;
        height: auto;
    }

    .logo > img{
        width: 80px;
        height: 80px;
        margin-right: 10px;
    //border: 1px dashed red;
        float: left;
    }

    #zavyrtulka {
        width: 120px;
        right:-30px;
        position: relative;
        margin-top: 5px;
    }

    .font_0 {
        font-size:25px;
        line-height:1.2em;
        font-weight: normal;
        color:#12C784;
        font-family:Play,sans-serif;
    }

    .text-befor-decoration, .text-after-decoration {
        float: left;
    }

    #text-decoration  {
        float: left;
        font-size:25px;
        position: relative;
        right: 18px;
        bottom: 10px;
        height: auto;
    }

    .text-after-decoration {
        margin-top: 55px;
        position: relative;
        right: 45px;
    //border: 1px dashed red;
    }

    /*#body-content {*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*margin-top: 200px;*/
    /*float: left;*/
    /*//border: 1px dashed red;*/
    /*}*/


    /*==========================================*/
    /*==========================================*/
    /*=====   min-width: 1232px         ========*/
    /*==========================================*/

    @media only screen and (min-width: 1232px)  {

        .SITE_ROOT {
            width: 90%;
        //border: 1px solid red;
            max-width: 1500px;
            margin:  auto;
        }

        #header-text-decoration {
        //clear: both;
            float: left;
            margin: 0 auto;
            width: 100%;
            display: block;
        }

        .social {
            float: left;
            margin: 30px auto 0 0;
        //border: 1px dashed pink;
            width: 60px;
            height: 60px;
        }

        .navigation {
            margin: 0 auto;
            margin-left: 300px;
            float: left;
        //border: 1px dashed pink;
        }

        .social a > img {
            width: 60px;
            height: 60px;
        }

        .logo {
            float: left;
            width: auto;
            height: auto;
        }

        .logo > img{
            width: 150px;
            height: 150px;
            margin: 0 10px 0 150px;
        //border: 1px dashed red;
            float: left;
        }

        #zavyrtulka {
            width: 120px;
            right:-30px;
            position: relative;
            margin-top: 5px;
        }

        .font_0 {
            font-size:35px;
            line-height:1.2em;
            font-weight: normal;
            color:#12C784;
            font-family:Play,sans-serif;
        }

        .text-befor-decoration, .text-after-decoration {
            float: left;
        }

        #text-decoration  {
            float: left;
            font-size:35px;
            position: relative;
            right: 18px;
            bottom: 10px;
            height: auto;
        }

        .text-after-decoration {
            margin-top: 55px;
            position: relative;
            right: 45px;
        //border: 1px dashed red;
        }

        /*#body-content {*/
        /*width: 100%;*/
        /*margin:  auto;*/
        /*margin-top: 200px;*/
        /*float: left;*/
        /*//border: 1px dashed red;*/
        /*}*/
    }
}